.logo{
    height: 120px;
    max-width: 1280px;
}

.logo, h1{
    font-size: 50px;
    line-height: 120px; 
}

#inputWrapper{
    max-width: 1280px;
    vertical-align: middle;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

#movieInput{
    width: 45%;
    height: 50px;
    padding-top: 10px;
}

#searchMovie{
    border-radius: 8px;
    height: 50px;
    width: 300px;
    font-size: 22px;
    text-align: center;
}

#movieList{
    column-count: 3;
    column-width: 100px;
    padding-right: 50px;
    padding-bottom: 100px;
    max-width: 720px;
    
}

#movieList, p{
    font-size: 23.5px;
    max-width: 1280px;
}

footer{
    height: 120px;
    max-width: 1280px;
} 
