
#movieList, p{
    
    font-size: 18px;
    //max-width: 768px;
    //text-align: left;
    //margin-top: 20px;
    //margin-bottom: 40px;
    
    //width: 100%;
}


.logo{
    height: 100px;
    max-width: 768px;
   
    //margin-bottom: 50px;
}

.logo, h1{
    font-size: 35px;
    line-height: 100px; 
}

#inputWrapper{
    //text-align: center;
   // margin-bottom: 40px;
    
}
#movieInput{
   width: 55%;
    border: 2px solid black;
    
    
}

#searchMovie{
    border-radius: 6px;
    
   

}

footer{
    
    height: 100px;
    max-width: 768px;
    //background-color: #b1e9ff;
   // width: 100%;
} 

